.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.airImage {
  position: absolute;
  animation: flyAir 2s linear infinite;
  width: 6rem;
  height: 6rem;
}

.pointImage {
  width: 12rem; /* 원하는 크기로 조정하세요 */
}
@keyframes flyAir {
  0% {
    left: 43.2%;
    bottom: 45%;
    transform: rotate(0deg) translateX(0); /* 초기 각도 및 X 이동 없음 */
  }
  25% {
    left: 44%;
    bottom: 48.5%;
    transform: rotate(22.5deg) translateX(12px);
  }
  50% {
    left: 46%;
    bottom: 50.8%;
    transform: rotate(45deg) translateX(22px);
  }
  75% {
    left: 49%;
    bottom: 49.7%;
    transform: rotate(57.5deg) translateX(12px);
  }
  100% {
    left: 51.2%;
    bottom: 46.5%;
    transform: rotate(65deg) translateX(0);
  }
}
